@model MVCPubs.Models.Store;
@{
    ViewData["Title"] = "Create";
}

<div class="main__nav">
    <h2>Create</h2>

    <nav class="nav">
        <a asp-action="Index" asp-controller="Store">Index</a>
        <a asp-action="TraerXPaisCiudad" asp-controller="Store">Buscar por Ciudad</a>
        
    </nav>
</div>
<section class="contenido">
    <h3>Nuevo Store</h3>
        @using (Html.BeginForm("Create", "Store", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(model=>model.StorId)
                @Html.EditorFor(model=>model.StorId)
            @Html.ValidationMessageFor(model=>model.StorId)
            </div>
            <div>
                @Html.LabelFor(model=>model.StorName)
                @Html.EditorFor(model=>model.StorName)
                @Html.ValidationMessageFor(model=>model.StorName)
            </div>
            <div>
                @Html.LabelFor(model=>model.StorAddress)
                @Html.EditorFor(model=> model.StorAddress)
                @Html.ValidationMessageFor(model=>model.StorAddress)
            </div>
            <div>
                @Html.LabelFor(model=>model.City)
                @Html.EditorFor(model=> model.City)
                @Html.ValidationMessageFor(model=>model.City)
            </div>
            <div>
                @Html.LabelFor(model=>model.State)
                @Html.EditorFor(model=> model.State)
                @Html.ValidationMessageFor(model=>model.State)
            </div>
            <div>
                @Html.LabelFor(model=>model.Zip)
                @Html.EditorFor(model=> model.Zip)
                @Html.ValidationMessageFor(model=>model.Zip)
            </div>
            <div>
                <input type="submit" value="Crear" class="button" />

            </div>
        }

</section>

