@model IEnumerable<MVCPubs.Models.Store>

@{
    ViewData["Title"] = "Index";
}


<div class="main__nav">
        <h2>Index</h2>
    
    <nav class="nav">
        <a asp-action="Create" asp-controller="Store">Nuevo Store</a>
        <a asp-action="TraerXPaisCiudad" asp-controller="Store">Buscar por Ciudad</a>
       
    </nav>
</div>
    <section class="contenido">
        <table class="bordeNegro">
            <thead>
                <tr class="bordeNegro">
                    <th class="bordeNegro">
                        @Html.DisplayNameFor(model => model.StorName)
                    </th>
                    <th class="bordeNegro">
                        @Html.DisplayNameFor(model => model.StorAddress)
                    </th>
                    <th class="bordeNegro">
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th class="bordeNegro">
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th class="bordeNegro">
                        @Html.DisplayNameFor(model => model.Zip)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="bordeNegro">
                        <td class="bordeNegro">
                            @Html.DisplayFor(modelItem => item.StorName)
                        </td>
                        <td class="bordeNegro">
                            @Html.DisplayFor(modelItem => item.StorAddress)
                        </td>
                        <td class="bordeNegro">
                        <a asp-action="TraerXCiudad" asp-controller="Store" asp-route-city="@item.City" method="get">@Html.DisplayFor(modelItem => item.City)</a>
                        </td>
                        <td class="bordeNegro">
                            @Html.DisplayFor(modelItem => item.State )
                        </td>
                        <td class="bordeNegro">
                            @Html.DisplayFor(modelItem => item.Zip )
                        </td>
                        <td class="bordeNegro">@Html.ActionLink("Editar","Edit", new{id = item.StorId})</td>
                        <td class="bordeNegro">@Html.ActionLink("Eliminar","Delete", new{id = item.StorId})</td>
                    <td class="bordeNegro">@Html.ActionLink("Details","Details", new{id = item.StorId})</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>



